<?xml version="1.0"?>
<ruleset name="Noem State Machine">
    <description>Coding standards for Noem State Machine</description>

    <!-- Files to analyze -->
    <file>./src</file>
    <file>./tests</file>

    <!-- Exclude vendor directory -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/cache/*</exclude-pattern>

    <!-- Base rules -->
    <rule ref="PSR12"/>

    <!-- Additional quality rules -->
    <!-- <rule ref="Generic.Arrays.DuplicateArrayKey"/> --> <!-- Disabled - sniff no longer exists in PHP_CodeSniffer -->
    <rule ref="Generic.Classes.DuplicateClassName"/>
    <rule ref="Generic.CodeAnalysis.EmptyStatement"/>
    <rule ref="Generic.CodeAnalysis.UnconditionalIfStatement"/>
    <rule ref="Generic.CodeAnalysis.UnnecessaryFinalModifier"/>
    <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
    <rule ref="Generic.CodeAnalysis.UselessOverridingMethod"/>
    <rule ref="Generic.Commenting.Todo"/>
    <rule ref="Generic.Commenting.Fixme"/>
    <rule ref="Generic.Functions.CallTimePassByReference"/>
    <rule ref="Generic.NamingConventions.ConstructorName"/>
    <rule ref="Generic.NamingConventions.UpperCaseConstantName"/>
    <rule ref="Generic.PHP.CharacterBeforePHPOpeningTag"/>
    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="Generic.PHP.DisallowAlternativePHPTags"/>
    <rule ref="Generic.PHP.DisallowShortOpenTag"/>
    <rule ref="Generic.PHP.ForbiddenFunctions"/>
    <rule ref="Generic.PHP.NoSilencedErrors"/>
    <rule ref="Generic.Strings.UnnecessaryStringConcat"/>

    <!-- Show progress -->
    <arg value="p"/>
    <!-- Show sniff codes in all reports -->
    <arg value="s"/>
    <!-- Use colors in output -->
    <arg name="colors"/>
</ruleset>