<!DOCTYPE html>
<html lang="en">

<head>
    <title>Metime Week Planner</title>
    <meta name="description" content="Printer-friendly blank journal page layout for personal note-taking">
    <style>
        {{#complete stop="</style>"}}
    CSS classes to produce a print-friendly template for a personal note-taking document.
    It contains defines base classes for sections, containers, heading, etc.
    It contains basic layout styles for a grid system.
    It ensures that elements are easy distinguishable by outlines and soft shadows.
    It stays monochrome to be eink-friendly.

    {{/complete}}
    </style>
</head>
<body>
{{#complete stop="</body>"}}
The body section of a personal week planner in letter format for the end-user to take physical notes on.
Only valid raw HTML is produced. No Javascript.


It renders a two-column grid containing the required sections.
It contains a card for every day of the week
It contains a section to track habits and fitness goals for the week in question.
It contains a blank card with checkboxes to use as a todo-list
All sections remain blank with no example text. The planner is to be printed and filled out later.

The templating system can be leveraged to offload fragments. A widget can be used by describing
the fragment's purpose with an HTML comment and then including it.
Note that the widget's name MUST ALWAYS be "widget.html"
Example:
<!-- A hero banner with a link to our contact form -->
\{\{include widget.html\}\}

{{/complete}}
</body>
</html>
